<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Cars</title>
        <%- include("partials/bootstrap") %>
    </head>
    <style>
        .car-info-wrapper {
            height: 200px;
            width: 800px;
        }
        .img-wrapper {
            width: 215px;
        }

        .add-car-btn {
            margin: 0 auto;
        }
        .edit-btns {
            width: 200px;
        }
    </style>
    <body>
        <header class="container mb-5">
            <h1 class="display-6 text-center">CARS</h1>
            <p class="text-center lead fs-6">List of all the cars</p>
            <div class="d-flex justify-content-center">
                <a
                    href="/cars/new"
                    class="btn btn-outline-primary rounded-pill fw-bold me-3"
                >
                    Add a Car
                    <i class="bi bi-car-front"></i>
                </a>
                <a
                    href="/"
                    class="btn btn-outline-primary rounded-pill fw-bold"
                >
                    API Documentation
                    <i class="bi bi-caret-right-square"></i>
                </a>
            </div>
        </header>
        <section class="container d-flex justify-content-center">
            <div id="api-section-wrapper">
                <% if (fake_cars) { %>
                    <% for (let fake_car of fake_cars) {%>
                        <div
                        class="car-info-wrapper card-body d-flex justify-content-start"
                    >
                        <div class="img-wrapper me-2">
                            <img
                                class="img-thumbnail"
                                src="<%= fake_car.img %>"
                                alt=""
                            />
                        </div>
                        <div>
                            <p class="lead">
                                <span class="fw-bold">Type</span>: <%= fake_car.car_type %>
                            </p>
                            <p class="lead">
                                <span class="fw-bold">Name</span>: <%= fake_car.car_name %>
                            </p>
                            <div class="edit-btns d-flex justify-content-between">
                                <a href="/cars/<%= fake_car.car_id %>/edit" class="btn btn-warning">
                                    <i class="bi bi-pen"></i>
                                </a>
                                <form action="/cars/<%= fake_car.car_id%>/?_method=DELETE" method="post">
                                    <button type="submit" class="btn btn-danger">
                                        <i class="bi bi-trash3"></i>
                                    </button>
                                </form>
                                <a href="/cars/<%= fake_car.car_id%>" class="btn btn-primary"> View Car
                                    <i class="bi bi-eye"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <% }%>
                <% } else {%>
                    <div class="card-body">
                        <h1>ERROR! No car objects found <i class="bi bi-exclamation-triangle"></i></i></h1>
                    </div>
                <% } %>
            </div>
        </section>
    </body>
</html>
