<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Reddit</title>
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;700&family=Roboto+Condensed:wght@300;700&display=swap"
            rel="stylesheet"
        />
        <link rel="stylesheet" href="/app.css" />
    </head>
    <body>
        <nav>
            <h1>Reddit</h1>
            <ul>
                <li>Login</li>
                <li>SignUp</li>
            </ul>
        </nav>
        <% if (subPage) { %>
        <div class="subreddit-card">
            <div class="reddit-card-header">
                <h2 class="subreddit-name"><%= subPage.name %></h2>
                <div class="subreddit-info-wrapper">
                    <h2 class="subreddit-desc"><%= subPage.description %></h2>
                    <h2 class="subreddit-subs"><%= subPage.subscribers %></h2>
                </div>
            </div>
            <% for (let post of subPage.posts) {%>
            <div class="post-card">
                <div class="subreddit-info-wrapper">
                    <h3 class="post-desc"><%= post.title %></h3>
                    <h3 class="post-by"><%= post.author %></h3>
                </div>
                <% if (post.img) { %>
                <img class="post-img" src="<%= post.img %>" alt="" />
                <% } %>
            </div>
            <% }%>
        </div>
        <% } else {%>
        <div class="subreddit-card">
            <h2 class="subreddit-name">
                <span style="color: red">ERROR:</span> Subreddit doesn't exist
            </h2>
        </div>
        <% } %>
    </body>
</html>
