<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="/static/app.css" />
        <title>Xpress Ships</title>
    </head>
    <body>
        <h1>Welcome to Xpress Ships</h1>
        <div class="container">
            <div class="wrapper">
                <h2>Farms</h2>

                <% if(farms.length >= 1) {%> <%for (farm of farms) {%>
                <div id="<%=farm.id%>" class="content-wrapper">
                    <div><%= farm.farmName %></div>
                    <a id="modal-btn-<%=farm.id%>" class="modal-btn"
                        >Add Product</a
                    >
                    <a href="/farms/<%=farm.id%>" class="btn">View</a>
                </div>
                <%}%> <%}%>
                <!-- Add Product Modal -->
                <div id="productModal" class="modal">
                    <div class="modal-content">
                        <span class="close">&times;</span>
                        <p>Add Product</p>
                        <hr />
                        <form id="add-product-form" method="post">
                            <% if (products.length > 0) {%> <% for (product of
                            products) {%>
                            <div class="checkbox">
                                <label for="<%=product.productName%>"
                                    ><%=product.productName%></label
                                >
                                <input
                                    type="checkbox"
                                    id="<%=product.productName%>"
                                    name="<%=product.productName%>"
                                    value="<%=product.id%>"
                                />
                            </div>
                            <%}%> <%}%>
                            <div class="add-btn-wrap">
                                <a class="btn">Add</a>
                            </div>
                        </form>
                    </div>
                </div>
                <hr />
            </div>
            <div class="wrapper">
                <h2>Products</h2>

                <% if(products.length >= 1) {%> <%for (product of products) {%>
                <div class="content-wrapper">
                    <div><%= product.productName %></div>
                    <a href="/products/<%=product.id%>" class="btn">View</a>
                </div>
                <%}%> <%}%>
            </div>
            <div class="wrapper new-nav">
                <a href="/farms/new">New Farm</a>
                <a href="/products/new">New Product</a>
            </div>
        </div>
    </body>
    <script>
        // Get the modal
        var modal = document.getElementById("productModal");

        // Get the button that opens the modal
        var btns = document.querySelectorAll(".modal-btn");

        // Get the <span> element that closes the modal
        var span = document.getElementsByClassName("close")[0];

        // When the user clicks on the button, open the modal
        for (btn of btns) {
            const id = btn.id;
            btn.addEventListener("click", (evt) => {
                modal.style.display = "block";
                const btn = document.querySelector(`#${id}`);
                console.log(btn.parentElement);
                const modalContainer = document.querySelector("#productModal");
                const modalForm = modalContainer.querySelector("form");
                modalForm.action = `/farm/product/${btn.parentElement.id}?_method=patch`;
                console.log(modalForm.action);
            });
        }

        // When the user clicks on <span> (x), close the modal
        span.onclick = function () {
            modal.style.display = "none";
        };

        // When the user clicks anywhere outside of the modal, close it
        window.onclick = function (event) {
            if (event.target == modal) {
                modal.style.display = "none";
            }
        };
    </script>
    <script>
        const addBtn = document.querySelector(".add-btn-wrap a");
        addBtn.addEventListener("click", (evt) => {
            evt.preventDefault();
            const form = document.querySelector("#add-product-form");
            form.submit();
            modal.style.display = "none";
        });
    </script>
</html>
